<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<a href="/rango/about/">About</a> <br>
<a href="/rango/info/"">Info</a> <br>

    <h1>Rango says...</h1>
    <div>
        Hello naren! <br/>
      <strong>{{boldletters}} </strong>
    </div>


    <div>



    </div>
    <div>
        <img alt=" the Avengers" src="{%static 'images/image3.png' %}"  >
    </div>
    <div>
        <img alt=" the Avengers" src="{{MEDIA_URL}}image3.png"  >
    </div>





</body>
</html>